body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
  background-color: rgb(1, 45, 92);
}

.header{
  display: flex;
  background-color: rgb(1, 45, 92);
  align-items: center;
  justify-content: center;
  height: 5%;
  color: white;
  font-weight: bold;
}
.header-icon{
  height: 100%;
}
.wip{
  display: flex;
  flex:1;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  color: gray;
}

.main-content {
  flex: 1;
  display: flex;
}

.category-column {
  width: 120px;
  display: flex;
  flex-direction: column;
}

.content-column {
  display: flex;
  flex:1;
  flex-direction: row; 
  overflow-x: auto;
  overflow-y: scroll;
  width: 2000px;
}

.yearUnit {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-direction: 1;
}

.timeline-row{
  border-bottom: 1px solid #AEC6FF ;
  display: flex;
  flex: 1;
  background-color: rgb(231, 241, 255);
  height: 100%;
  min-height: 150px;
  justify-content: center;
  align-items: center;
}

.timeline-category,
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-category {
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-weight: bold;
  background-color: rgb(51, 79, 131);
}

.categories {
  flex: 1;
  border-bottom: 1px solid #334F83 ;
  border-right: 1px solid #334F83 ;
  padding: 5px;
  background-color: rgb(91, 117, 172);
  color: white;
  font-weight: bold;
  text-align:center;
}

.cover-div{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.covers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: auto;
  margin: 25px;
  transition: all 0.15s ease;
}
.covers:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transform: scale(1.25);
  
}
